header{background-color: chocolate;}

.favoritos{background-color: blue;}

.destacados{background-color: blue;}

#WAR{color: white;}

#PERSIA{color: white;}

a{color: white;}

footer{background-color: red;}

.registro{background-color: blue;}

#register{color: white;}

.user{background-color: yellow;}

.links{color:blue;}

.foot{background-color: lightseagreen;}

